<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Add new blog</title>
  </head>
  <body>
    <%- include('./partials/scripts.ejs') %> <%-
    include('./partials/navbar.ejs') %>

    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImg" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImg"
            name="coverImg"
            aria-describedby="coverImg"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
            placeholder="Add a title"
          />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea
            class="form-control"
            placeholder="Create magic with words"
            id="body"
            name="body"
          ></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </form>
    </div>
  </body>
</html>
